@CHARSET "UTF-8";

#content { padding: 10px;}

#header {     padding: 10px 60px;
          height: 80px;
          max-width: 1256px;
          display: flex;
          height: 50px;
          box-sizing: border-box;
          padding: 0 8px;
          margin: 0 auto;}

#footer {
   border-top:1px solid #ededed;
   margin:0 auto;
   width:1440px;
   text-align: left;
   color: gray;
}


.footer_infor {
   margin-right:40px;
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
    padding-top: 30px ;
    padding-bottom:10px;
    position: relative;
    display: block;
}


.footer_infor ul {
    float: right;
}

.footer_infor li {
    text-align: right;
    font-size: 12px;
    color: #757575;
    line-height: 18px;
    font-weight: 300;
}
#body{
   margin-top:0px;
}
#menu {
   overflow: hidden;
   border-bottom: 1px dotted gray;
   padding-left: 10px;
}
#menu h4 {float: left; margin-right: 20px;}
h1 { text-align: center; color:gray;}

#page{
   width:1440px;
   margin: 0 auto;
}

#condition{
   margin: 10px auto;
   width: 840px;
   text-align: left;
}

#condition a{ color: gray;}
#condition a:hover{ color: #5872A5;}

table {border-collapse:collapse; margin: 0 auto;}
td{border-bottom: solid 1px lightgray; padding: 5px; text-align:center;}

.row:hover{
   cursor: pointer;
}

.pagination {
   text-align: center;
   margin-top: 10px;
   display: inline-block;
}

.pagination a {
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
}

.pagination a.active {
   background-color: #1E90FF;
   color: white;
}

.pagination a:hover:not (.active ) {
   background-color: #ddd;
}

a {
   text-decoration: none;
   color:#424242;
}

a:hover{
   color:gray;
}
input , textarea, select{
   font-family:"맑은고딕";
   font-size: 15px;
}

input[type=submit], input[type=reset], input[type=button], button{
   background: #e3c1c1;
   border:1px solid lightgray;
   color: white;
   border-radius: 5px;
   padding: 5px 20px;
   margin-left:20px;
   cursor: pointer;
}

header{
   box-sizing: border-box;
    position: relative;
    display: block;
    border-bottom:1px solid #ededed;
    
}

li{
   list-style-type:none; 
}

.navigation-primary {
   margin-left:100px;
   width:1200px;
   margin:0 auto;
   margin-bottom:5px;
    transition: top .1s;
    background-color: #fff;
    z-index: 502;
}

@media (min-width: 768px)
.navigation-primary__content {
    height: 80px;
    padding: 10px 40px;
    max-width: 1256px;
}

@media (min-width:1024px)
.navigation-primary__content {
   padding:10px 60px;
   }

.navigation-primary__content {
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
}

.navigation-primary__left {
    position: static;
    margin-right: 15px;
    transform: none;
}

.navigation-logo {
    display: inline-block;
    margin: -4px;
    padding: 4px;
}

.navigation-primary__menu {
   margin-top:12px;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}


.navigation-primary__menu__item {
    position: relative;
    display: inline-block;
    margin: 6px 5px 0;
    padding: 14px 10px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #424242;
    cursor: pointer;
}



.navigation-primary__right{
   margin-top:16px;
   -webkit-box-flex: 1;
   flex: 1 0 auto;
    position: static;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: absolute;
    left: 580px;
}

.navigation-bar-search{
   width:300px;
   display: block;
   margin: 13px 10px 7px 120px;
    min-width: 0;
}

.navigation-search {
    position: relative;
    text-align: left;
}

.navigation-search__input__text {
      display: block !important;
    width: 300px !important;
    height:40px !important;
    margin:0px !important;
    box-sizing: border-box !important;
    padding: 8px 9px 10px 39px !important;
    font-family: inherit !important;
    font-size: 15px !important;
    line-height: 20px !important;
    background-color: #fff !important;
    color: #424242 !important;
    border: 1px solid #dbdbdb !important;
    border-radius: 4px !important;
    transition: background-color .1s !important;
}


.navigation-search__input__icon {
   margin-top:12px !important;
    position: absolute !important;
    top: 10px !important;
    left: 130px !important;
    width: 20px !important;
    height: 20px !important;
    color: #757575 !important;
    pointer-events: none !important;
}
   

.topnav .active{
   margin:0;
   margin-top:3px;
   padding:0;
}   

.topnav a {
   color:inherit;
   float: right;
   text-align: center;
   padding: 0px 12px;
   text-decoration: none;
   font-size: 13px;
   color: "#999999";
}


.topnav a strong{
   font-weight: bold !important;   
}
.topnav a:hover{
   text-decoration: underline;
}
.navigation-primary__menu__item:hover{
   color:#35c5f0;
}


