<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CourseMapper">
	<!-- 피드수 증가 -->
	<update id="add_feed_cnt">
		update tbl_course set c_cnt_feed = c_cnt_feed + #{value}
		where id = #{id}
	</update>
	<!-- course 삭제시 해당 문의글 삭제 -->
	<update id="query_state">
		update tbl_course_query set c_state = 1
		where c_id = #{c_id}
	</update>
	<!-- 조회수 증가 -->
	<update id="add_view_cnt">
		update tbl_course set c_view = c_view + 1
		where id = #{id}
	</update>
	<!-- 스터디/취미 리스트 출력 -->
	 <select id="list" resultType="com.example.domain.course.CourseVO">
 		select * from tbl_course
 		where title like concat('%',#{keyword},'%')
 		<!-- 카테고리별 -->
		<if test ="catType=='allCate'">
		</if>
		<if test ="catType=='ca1'">
			and tbl_code like 'CS%'
		</if>
		<if test ="catType=='ca2'">
			and tbl_code like 'CC%'
		</if>
		<if test ="catType=='ca3'">
			and tbl_code like 'CG%'
		</if>
		 <if test="catType=='sub1'">
         	and tbl_code='CSL'
	      </if>
	      <if test="catType=='sub2'">
	         and tbl_code='CSJ'
	      </if>
	      <if test="catType=='sub3'">
	         and tbl_code='CSI'
	      </if>
	      <if test="catType=='sub4'">
	        and tbl_code='CSR'
	      </if>
	      <if test="catType=='sub5'">
	        and tbl_code='CCH'
	      </if>
	      <if test="catType=='sub6'">
	         and tbl_code='CCC'
	      </if>
	      <if test="catType=='sub7'">
	         and tbl_code='CCE'
	      </if>
	      <if test="catType=='sub8'">
	         and tbl_code='CCR'
	      </if>
	      <if test="catType=='sub9'">
	         and tbl_code='CGA'
	      </if>
	      <if test="catType=='sub10'">
	         and tbl_code='CGF'
	      </if>
	      <if test="catType=='sub11'">
	         and tbl_code='CGT'
	      </if>
	      <if test="catType=='sub12'">
	         and tbl_code='CGR'
	      </if>

		<!-- 지역별 -->
	      <if test ="searchType=='all'">
	      </if>
	      <if test ="searchType=='seoul'">
	         and c_local='서울'
	      </if>
	      <if test ="searchType=='incheon'">
	         and c_local='인천'
	      </if>
	      <if test ="searchType=='gyeonggi'">
	         and c_local='경기'
	      </if>
	      
		<!-- 성별    -->
	     <if test='genderType=="allGender"'>
	     </if>
	     <if test='genderType=="m"'>
	        and c_gender in ('혼성', '남성')
	     </if>
	     <if test='genderType=="w"'>
	        and c_gender in ('혼성', '여성')
	     </if>
	     
	    <!-- 연령별 -->
		<if test="ageType=='allAge'">
		</if>
		<if test="ageType=='age1'">
			<![CDATA[ and c_age_min <=20 ]]>
		</if>
		<if test="ageType=='age2'">
			<![CDATA[ and (c_age_min <= 30 or c_age_max >20 ) ]]>
		</if>
		<if test="ageType=='age3'">
			<![CDATA[ and (c_age_min <= 50 and c_age_max >40 ) ]]>
		</if>
		<if test="ageType=='age4'">
			<![CDATA[ and c_age_max >=60 ]]>
		</if>
		and c_state = 0
 		order by id desc
 		limit #{pageStart},#{perPageNum}
 	</select>
 	<!-- 스터디/취미 세부정보 출력 -->
	<select id="list_course" resultType="com.example.domain.course.CourseVO">
		select * from tbl_course
		where id=#{id}
	</select>
	<update id="delete_course">
		update tbl_course set c_state = 1 where id = #{id}
	</update>
	<!-- 스터디/취미 해당 카테고리 출력 -->
	<select id="list_category" resultType="com.example.domain.course.CategoryVO">
		select * from tbl_category
		where tbl_code = #{tbl_code}
	</select>
	<!-- 회원 스터디/취미 신청여부 확인 -->
	<select id="chk_member" resultType="int">
		select count(*) from tbl_course_member
		where c_id=#{c_id} and c_member = #{c_member}
	</select>
	<!-- 스터디/취미 신청하기 -->
	<insert id="insert_member">
		insert into tbl_course_member(c_id, c_member)
		values(#{c_id}, #{c_member})
	</insert>
	<!-- 스터디/취미 신청 취소 및 거절 -->
	<delete id="delete_member">
		delete from tbl_course_member
		where c_id=#{c_id} and c_member = #{c_member}
	</delete>
	<!-- 스터디/취미 문의글 리스트 출력 -->
	<select id="list_query" resultType="com.example.domain.course.CQueryVO">
		select * from tbl_course_query
		where c_id=#{c_id}
		order by c_query_id desc
	</select>
	<!-- 문의글 갯수 출력 -->
	<select id="cnt_query" resultType="int">
		select count(*) from tbl_course_query
		where c_id = #{c_id}	
	</select>
	<!-- 스터디/취미 문의하기 -->
	<insert id="insert_query">
		insert into tbl_course_query(c_id, c_query_writer, c_query_content, c_openable)
		values(#{c_id}, #{c_query_writer}, #{c_query_content}, #{c_openable})
	</insert>
	<!-- 스터디/취미 문의글 삭제 -->
	<delete id="delete_query">
		delete from tbl_course_query
		where c_query_id = #{c_query_id}
	</delete>
	<!-- 스터디/취미 문의 답글 출력 -->
	<select id="list_reply" resultType="com.example.domain.course.CReplyVO">
		select * from tbl_course_reply
		where c_query_id = #{c_query_id}
	</select>
	<!-- 스터디/취미 문의 답글 등록 -->
	<insert id="insert_reply">
		insert into tbl_course_reply(c_query_id, c_reply_writer, c_reply_content)
		values(#{c_query_id}, #{c_reply_writer}, #{c_reply_content})
	</insert>
	<!-- 스터디/취미 신청 회원수 수정 -->
	<update id="update_cnt_course">
		update tbl_course set c_cnt_member = c_cnt_member + #{value}
		where id= #{id}
	</update>
	<!-- 스터디/취미 문의 답변 상태 변경 -->
	<update id="update_replystate_query">
		update tbl_course_query set c_reply_state ="답변완료" where c_query_id = #{c_query_id}
	</update>
	<!-- 스터디/취미 글 등록 -->
	<insert id="insert">
		insert into tbl_course(c_writer, title, tbl_code, c_local, c_place, c_tot_member, date_start, date_end, c_time, c_fee, c_age_min, c_age_max, c_gender, c_content)
		values(#{c_writer}, #{title}, #{tbl_code},#{c_local},#{c_place},#{c_tot_member},#{date_start},#{date_end},#{c_time},#{c_fee},#{c_age_min},#{c_age_max},#{c_gender},#{c_content})
	</insert>
	
	<!-- 스터디/취미  -->
	<select id="totalCount" resultType="int">
		select count(*) from tbl_course
		where title like concat('%',#{keyword},'%')
 		<!-- 카테고리별 -->
		<if test ="catType=='allCate'">
		</if>
		<if test ="catType=='ca1'">
			and tbl_code like 'CS%'
		</if>
		<if test ="catType=='ca2'">
			and tbl_code like 'CC%'
		</if>
		<if test ="catType=='ca3'">
			and tbl_code like 'CG%'
		</if>
		 <if test="catType=='sub1'">
         	and tbl_code='CSL'
	      </if>
	      <if test="catType=='sub2'">
	         and tbl_code='CSJ'
	      </if>
	      <if test="catType=='sub3'">
	         and tbl_code='CSI'
	      </if>
	      <if test="catType=='sub4'">
	        and tbl_code='CSR'
	      </if>
	      <if test="catType=='sub5'">
	        and tbl_code='CCH'
	      </if>
	      <if test="catType=='sub6'">
	         and tbl_code='CCC'
	      </if>
	      <if test="catType=='sub7'">
	         and tbl_code='CCE'
	      </if>
	      <if test="catType=='sub8'">
	         and tbl_code='CCR'
	      </if>
	      <if test="catType=='sub9'">
	         and tbl_code='CGA'
	      </if>
	      <if test="catType=='sub10'">
	         and tbl_code='CGF'
	      </if>
	      <if test="catType=='sub11'">
	         and tbl_code='CGT'
	      </if>
	      <if test="catType=='sub12'">
	         and tbl_code='CGR'
	      </if>

		<!-- 지역별 -->
	      <if test ="searchType=='all'">
	      </if>
	      <if test ="searchType=='seoul'">
	         and c_local='서울'
	      </if>
	      <if test ="searchType=='incheon'">
	         and c_local='인천'
	      </if>
	      <if test ="searchType=='gyeonggi'">
	         and c_local='경기'
	      </if>
	      
		<!-- 성별    -->
	     <if test='genderType=="allGender"'>
	     </if>
	     <if test='genderType=="m"'>
	        and c_gender in ('혼성', '남성')
	     </if>
	     <if test='genderType=="w"'>
	        and c_gender in ('혼성', '여성')
	     </if>
	     
	    <!-- 연령별 -->
		<if test="ageType=='allAge'">
		</if>
		<if test="ageType=='age1'">
			<![CDATA[ and c_age_min <=20 ]]>
		</if>
		<if test="ageType=='age2'">
			<![CDATA[ and (c_age_min <= 30 or c_age_max >20 ) ]]>
		</if>
		<if test="ageType=='age3'">
			<![CDATA[ and (c_age_min <= 50 and c_age_max >40 ) ]]>
		</if>
		<if test="ageType=='age4'">
			<![CDATA[ and c_age_max >=60 ]]>
		</if>
		and c_state = 0
	</select>
	
	<!-- 스터디/취미 글 수정 -->
	<update id="update_course">
		update tbl_course set title=#{title}, tbl_code=#{tbl_code}, c_local=#{c_local}, c_place=#{c_place}, 
		c_tot_member=#{c_tot_member}, date_start=#{date_start}, date_end=#{date_end}, c_time=#{c_time}, c_fee=#{c_fee}, 
		c_age_min=#{c_age_min}, c_age_max=#{c_age_max}, c_gender=#{c_gender}, c_content=#{c_content}
		where id=#{id}
	</update>
</mapper>